In [1]:
## Importing  libraries
import pandas as pd
import datetime as dt

In [3]:
##reading the data
df=pd.read_csv(r"https://raw.githubusercontent.com/podila-sai-vardhan/Weather-Prediction/main/Dataset/Raw_data/train%20(2).csv")
df2=pd.read_csv(r"https://raw.githubusercontent.com/podila-sai-vardhan/Weather-Prediction/main/Dataset/Raw_data/test.csv")

In [7]:
##concate two datasets as data in two data sets are same 
data=pd.concat([df,df2],axis=0)

In [8]:
##Resetting the index
data.reset_index(inplace=True)

In [9]:
##finding Null values
data.isnull().sum()

index                         0
Formatted Date                0
Summary                       0
Precip Type                 517
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Cloud Cover                   0
Pressure (millibars)          0
Daily Summary                 0
dtype: int64

In [10]:
##Filing nul values with zero
data.fillna(0,inplace=True)

In [11]:
##Replace zero with mode of precip type which is Rain
data['Precip Type'].replace({0:'Rain'},inplace=True)

In [12]:
data.isnull().sum()

index                       0
Formatted Date              0
Summary                     0
Precip Type                 0
Temperature (C)             0
Apparent Temperature (C)    0
Humidity                    0
Wind Speed (km/h)           0
Wind Bearing (degrees)      0
Visibility (km)             0
Cloud Cover                 0
Pressure (millibars)        0
Daily Summary               0
dtype: int64

In [13]:
##converting 'formatted-date' data type from object to date-time
data['Formatted Date']=pd.to_datetime(data['Formatted Date'],utc=True)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     96453 non-null  int64
 1   Formatted Date            96453 non-null  datetime64[ns, UTC]
 2   Summary                   96453 non-null  object
 3   Precip Type               96453 non-null  object
 4   Temperature (C)           96453 non-null  float64
 5   Apparent Temperature (C)  96453 non-null  float64
 6   Humidity                  96453 non-null  float64
 7   Wind Speed (km/h)         96453 non-null  float64
 8   Wind Bearing (degrees)    96453 non-null  int64
 9   Visibility (km)           96453 non-null  float64
 10  Cloud Cover               96453 non-null  int64
 11  Pressure (millibars)      96453 non-null  float64
 12  Daily Summary             96453 non-null  object
dtypes: datetime64[ns, UTC](1), float64(6), int64(3), object(3)
memory usage: 9.6+ MB

In [15]:
data.drop('index',axis=1,inplace=True)

In [16]:
data

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Cloud Cover,Pressure (millibars),Daily Summary
0,2006-03-31 22:00:00+00:00,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.
1,2006-03-31 23:00:00+00:00,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 00:00:00+00:00,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 01:00:00+00:00,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 02:00:00+00:00,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 17:00:00+00:00,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31,16.1000,0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 18:00:00+00:00,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20,15.5526,0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 19:00:00+00:00,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30,16.1000,0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 20:00:00+00:00,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20,16.1000,0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 21:00:00+00:00,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39,15.5204,0,1016.16,Partly cloudy starting in the morning.

In [17]:
##converting or splitting the formated date into year,month,day
data['year']=data['Formatted Date'].dt.year
data['Month_name']=data['Formatted Date'].dt.month_name()
data['Day']=data['Formatted Date'].dt.day
data['Month']=data['Formatted Date'].dt.month

In [18]:
##converting the data to csv file
data.to_csv('Analysis.csv',index=False)